<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="Basket.css">
    <link rel="icon" href="../assets/icon/payment.ico">
    <title>Order Placement</title>

</head>

<body >

    
 <div class ="container" style="height: 100vh;">

  
    <div class="row">
      <div class="offset-md-4 offset-1 col-10 col-md-5 shadow-lg" style="margin-top: 15vh; min-height: 500px; border-radius: 1rem">
       
        <div class="alert alert-dismissible fade show mx-0" role="alert">
          
            <h4 class="alert-heading text-center" style="color: #ED1B24;"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Basket</h4>
            <div class="row my-4">
              <div class="col-10">
               <div class="media">
                   <img src="../assets/Imgaes/Basket/Rectangle_53.png" class="mr-3 img-fluid" alt="mighty burger">
                   <div class="media-body">
                     <h5 class="mt-0" style="font-weight:lighter; color: #ED1B24;">Big Mighty Burger</h5>
                     <small class="text-muted ">
                      Alaska Rsetaurant   
                     </small>
                     <div>
                      <button type="button" class="btn btn-outline-secondary btn-sm">-</button>
                      <button type="button" class="btn btn-outline-secondary btn-sm">2</button>
                      <button type="button" class="btn btn-outline-secondary btn-sm">+</button>
                     </div>
                   </div>
                 </div>
              </div>
              <div class="col-1 text-center">
                  <div>
                      <p><i>$20</i></p>
                      
                  </div>
              </div>
           </div>
           <div class="row my-4">
            <div class="col-10">
             <div class="media">
                 <img src="../assets/Imgaes/Basket/Rectangle_53.png" class="mr-3 img-fluid"  alt="mighty burger">
                 <div class="media-body">
                   <h5 class="mt-0" style="font-weight:lighter; color: #ED1B24;">Big Mighty Burger</h5>
                   <small class="text-muted ">
                    Alaska Rsetaurant   
                   </small>
                   <div>
                    <button type="button" class="btn btn-outline-secondary btn-sm">-</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm">2</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm">+</button>
                   </div>
                 </div>
               </div>
            </div>
            <div class="col-1 text-center">
                <div>
                    <p><i>$20</i></p>
                    
                </div>
            </div>
         </div>
         <div class="row my-4">
          <div class="col-10">
           <div class="media">
               <img src="../assets/Imgaes/Basket/Rectangle_53.png" class="mr-3 img-fluid" style="max-height: ;" alt="mighty burger">
               <div class="media-body">
                 <h5 class="mt-0" style="font-weight:lighter; color: #ED1B24;">Big Mighty Burger</h5>
                 <small class="text-muted ">
                   Alaska Rsetaurant  
                 </small>
                 <div>
                  <button type="button" class="btn btn-outline-secondary btn-sm">-</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm">2</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm">+</button>
                 </div>
               </div>
             </div>
          </div>
          <div class="col-1 text-center">
              <div>
                  <p><i>$20</i></p>
                  
              </div>
          </div>
       </div>
          
       <div class="row " style="font-size: xx-small;">
        
          <div class="col-10 my-1">
            Subtotal 
          </div>
          <div class="col-1">
            $60
          </div>
          <div class="col-10 my-1">
            Delvery Fee 
          </div>
          <div class="col-1">
            $20
          </div>
          <div class="col-10 my-1" style="color: #ED1B24;">
            Total 
          </div>
          <div class="col-1" style="color: #ED1B24;">
            $80
          </div>
          <div class="col-10 text-center mx-5 my-3"> 
            <a  id="" class="btn text-white" style="background-color: #0DD6FF;font-weight: bolder;"href="Payment.html" role="button">Checkout</a>
          </div>
       
      
      </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    
  </div>
 
  

 </div>
     
   


   
   




 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="Basket.js">
    </script>
   
</body>

</html>