<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../fontawesome/css/all.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="Restaurant_Details.css" />
    <link rel="icon" href="../assets/icon/Order.ico" />
    <title>Restaurant_Details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #ffebeb;">
      <div class="navbar-brand" style="margin-left: 10rem;" >
        <a href="../index.html">
          <img src="../assets/Imgaes/Home/Logo.svg" alt="" srcset="" />
        </a>
        </div>
      
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i
          class="fa fa-bars"
          aria-hidden="true"
          style="color: rgb(240, 14, 14);"
        ></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Restaurants <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="All_Restaurants.html">Ramadan Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Become a Partner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="far fa-user" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="text-white"
      style="
        background-image: url(../assets/Imgaes/Restaurant_Detail/Slider@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 881px;
        margin-top: -5px;
      "
    ></div>

    <div class="container" style="margin-top: -35rem;">
      <div class="row">
        <div class="offset-md-1 col-9 col-md-7">
          <div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm px-3 border btn-danger">
                Description
              </button>
              <button type="button" class="btn btn-sm px-3 border">
                Reviews
              </button>
            </div>
          </div>
          <div class="mt-5">
            <small class="mt-5 d-block">
              <b>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae ducimus nisi commodi molestiae necessitatibus, at
                eveniet omnis cupiditate quam iste eos laborum et tenetur odit,
                dolorum ratione sunt placeat sit delectus similique, quidem
                iusto aperiam? Fuga, nam. Incidunt sunt perspiciatis nemo
        
              </b>
            </small>
            <small >
              <b class="mt-3 d-block">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae ducimus nisi commodi molestiae necessitatibus, at
                eveniet omnis cupiditate quam iste eos laborum et tenetur odit,
                dolorum ratione sunt placeat sit delectus similique, quidem
                iusto aperiam? Fuga, nam. Incidunt sunt perspiciatis nemo
                exercitationem et sed eum, vitae voluptatum officia debitis ad
              </b>
            </small>
          </div>

          <h1>Alsaka Menu</h1>
          <ul class="list-group my-2">
            <li class="list-group-item list-group-item-secondary">
                
                <div class="row">
           <h3>Fast food</h3>
            </div>
        </li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"> <div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                       
                    </div>
                </div>
             </div></li>
            
          </ul>

         
          <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">
                
                <div class="row">
           <h3>Italian</h3>
            </div>
        </li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"> <div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                       
                    </div>
                </div>
             </div></li>
            
          </ul>

          
          <ul class="list-group my-3">
            <li class="list-group-item list-group-item-secondary">
                
                <div class="row">
           <h3>Mexician Menu</h3>
            </div>
        </li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
            <li class="list-group-item"> <div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                       
                    </div>
                </div>
             </div></li>
             <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
             <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
             <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
             <li class="list-group-item"><div class="row">
                <div class="col-8">
                 <div class="media">
                     <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                     <div class="media-body">
                       <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                       <small class="text-muted ">
                         Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in 
                       </small>
                     </div>
                   </div>
                </div>
                <div class="col-4 text-center">
                    <div>
                        <p><i>$20</i></p>
                        <a href="#">
                            <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
                        </a>
                    </div>
                </div>
             </div></li>
          </ul>
        </div>

        <div class=" col-6 col-md-4">
           
                    <form action="index.php" class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                
                    <h6 class="mt-5">Most related Items</h6>
                    <ul class="list-group my-2">
                      
                      <li class="list-group-item"><div class="row">
                          <div class="col-10">
                           <div class="media">
                               <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                               <div class="media-body">
                                 <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                                 <small class="text-muted ">
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus  
                                 </small>
                               </div>
                             </div>
                          </div>
                          <div class="col-2 text-center">
                              <div>
                                  <p><i>$20</i></p>
                                  
                              </div>
                          </div>
                       </div></li>
                      <li class="list-group-item"><div class="row">
                          <div class="col-10">
                           <div class="media">
                               <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                               <div class="media-body">
                                 <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                                 <small class="text-muted ">
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
                                 </small>
                               </div>
                             </div>
                          </div>
                          <div class="col-2 text-center">
                              <div>
                                  <p><i>$20</i></p>
                                  
                              </div>
                          </div>
                       </div></li>
                      <li class="list-group-item"> <div class="row">
                          <div class="col-10">
                           <div class="media">
                               <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                               <div class="media-body">
                                 <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                                 <small class="text-muted ">
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus  
                                 </small>
                               </div>
                             </div>
                          </div>
                          <div class="col-2 text-center">
                              <div>
                                  <p><i>$20</i></p>
                                  
                                 
                              </div>
                          </div>
                       </div></li>
                      
                    </ul>
        </div>
      </div>
    </div>


    <footer style="background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
        <div class="container mt-5 text-white">
            <div class="row">
                <div class="offset-lg-1 offset-md-2  col-lg-2 col-md-4 col-12 mt-5">
                    <h1>snaxa</h1>
                    <div>
            
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-facebook" style="font-size: x-large; color: rgb(187, 127, 127);;"></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-twitter-square rounded-pill" style="font-size: x-large;color: rgb(187, 127, 127);" ></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-instagram    " style="font-size: x-large;color: rgb(187, 127, 127);"></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-pinterest" style="font-size: x-large;color:rgb(187, 127, 127);"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12 my-5">
    
                    <h6>Estd. 2019</h6>
                    <p>It is a long established fact that a reader willbe distracted by the readable content of apage when looking for its layout.</p>
                    <p>T   022 4455 5566</p>
                    <p>@   snaxa@anything.com</p>
                </div>
    <div class="offset-2 col-lg-4 col-md-8 col-12 my-5">
    <i class="fa fa-envelope" aria-hidden="true">
    Stay up to date on the latest fron Snaxa
    </i>
    <div class="form-group">
      <label for="email">EMail</label>
      <input type="email" class="form-control" name="emial" id="" aria-describedby="emailHelpId" placeholder="Enter your e-mail Address">
     
    
      <a href="#" class="btn btn-primary px-5 py-2 mt-5 text-danger bg-white border-0 text-center rounded " role="button" aria-pressed="true">send</a>
    </div>
                    
                </div>
            </div>
        </div>
        <hr width="75%">
        <div class="container">
            
        
                <div class="d-flex justify-content-around">
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Home</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Restaurants</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">MY orders</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Ramadan Deals</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Offers</a>
                    </div>
                </div>
          
        </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="Restaurant_Details.js"></script>
  </body>
</html>
