<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../fontawesome/css/all.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="Restaurant_Details.css" />
    <link rel="icon" href="../assets/icon/Order.ico" />
    <title>Restaurant details 1</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #ffebeb;">
      <div class="navbar-brand" style="margin-left: 10rem;" href="#">
        <a href="../index.html">
          <img src="../assets/Imgaes/Home/Logo.svg" alt="" srcset="" />
        </a>
      </div>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i
          class="fa fa-bars"
          aria-hidden="true"
          style="color: rgb(240, 14, 14);"
        ></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="All_Restaurants.html"
              >Restaurants <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ramadan Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Become a Partner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="far fa-user" aria-hidden="true"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

   
<div class="container-fluid">
  <div class="row">
    <div class="offset-md-1 col-12 col-md-7">
    
      <div class="row no-gutters">
        <div class="col-lg-4 col-12">
          <img src="../assets/Imgaes/Restaurant_Detail_1/Mighty_Brger@2x.png" class="card-img  mt-4" alt="...">
        </div>
        <div class="col-md-8 col-12">
          <div class="card-body">
            <h5 class="card-title" style="color: #ED1B24;">Big Mighty Burger</h5>
            <p style="color: rgb(255, 170, 86);">
              5.0<i class="fa fa-star mr-2" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
            </p>
            <p><b><i>$20</i></b></p>
            <p class="card-text" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum nihil recusandae et in aspernatur repudiandae quis cumque, itaque blanditiis consequuntur culpa quisquam ratione laboriosam! Odio, exercitationem accusantium? Neque perspiciatis nemo aliquid velit earum beatae tempore deserunt nesciunt deleniti.</p>
            <button type="button" class="btn btn-outline-secondary">-</button>
<button type="button" class="btn btn-outline-secondary">2</button>
<button type="button" class="btn btn-outline-secondary">+</button>

  
  <a href="Basket.html" class="ml-5">
      <img src="../assets/Imgaes/Restaurant_Detail/Alaska Menu.png" style="max-width: 10vw;" alt="">
  </a>

          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-light bg-white border px-3">Reviews</button>
      </div>
      <ul class="list-group my-3">
      
        <li class="list-group-item"><div class="row">
            <div class="col-12">
             <div class="media">
                 <img src="../assets/Imgaes/Restaurant_Detail_1/PAR.PNG" class="mr-3"  alt="mighty burger">
                 <div class="media-body">
                   <h5 class="mt-0 d-inline-block">Parham Zaidi 
                    <div class="d-inline-block ml-5" style="color: rgb(255, 170, 86);"> 
                      <i class="fa fa-star mr-2" aria-hidden="true"></i>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                      <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    </div>
                   </h5>
                   <div>

                    <p>5/6/2020</p>

                   </div>
                   <p class="text-muted" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum .</p>
                   <p class="text-muted text-right" style="font-size: smaller;">5:00pm</p>
                 </div>
               </div>
            </div>
           
         </div>
        </li>
        <li class="list-group-item"><div class="row">
          <div class="col-12">
           <div class="media">
               <img src="../assets/Imgaes/Restaurant_Detail_1/PAR.PNG" class="mr-3"  alt="mighty burger">
               <div class="media-body">
                 <h5 class="mt-0 d-inline-block">Parham Zaidi 
                  <div class="d-inline-block ml-5" style="color: rgb(255, 170, 86);"> 
                    <i class="fa fa-star mr-2" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  </div>
                 </h5>
                 <div>

                  <p>5/6/2020</p>

                 </div>
                 <p class="text-muted" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum .</p>
                 <p class="text-muted text-right" style="font-size: smaller;">5:00pm</p>
               </div>
             </div>
          </div>
         
       </div>
      </li>
      <li class="list-group-item"><div class="row">
        <div class="col-12">
         <div class="media">
             <img src="../assets/Imgaes/Restaurant_Detail_1/PAR.PNG" class="mr-3"  alt="mighty burger">
             <div class="media-body">
               <h5 class="mt-0 d-inline-block">Parham Zaidi 
                <div class="d-inline-block ml-5" style="color: rgb(255, 170, 86);"> 
                  <i class="fa fa-star mr-2" aria-hidden="true"></i>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star mr-1" aria-hidden="true"></i>
                </div>
               </h5>
               <div>

                <p>5/6/2020</p>

               </div>
               <p class="text-muted" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum .</p>
               <p class="text-muted text-right" style="font-size: smaller;">5:00pm</p>
             </div>
           </div>
        </div>
       
     </div>
    </li>
    <li class="list-group-item"><div class="row">
      <div class="col-12">
       <div class="media">
           <img src="../assets/Imgaes/Restaurant_Detail_1/PAR.PNG" class="mr-3"  alt="mighty burger">
           <div class="media-body">
             <h5 class="mt-0 d-inline-block">Parham Zaidi 
              <div class="d-inline-block ml-5" style="color: rgb(255, 170, 86);"> 
                <i class="fa fa-star mr-2" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
                <i class="fa fa-star mr-1" aria-hidden="true"></i>
              </div>
             </h5>
             <div>

              <p>5/6/2020</p>

             </div>
             <p class="text-muted" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum .</p>
             <p class="text-muted text-right" style="font-size: smaller;">5:00pm</p>
           </div>
         </div>
      </div>
     
   </div>
  </li>
  <li class="list-group-item"><div class="row">
    <div class="col-12">
     <div class="media">
         <img src="../assets/Imgaes/Restaurant_Detail_1/PAR.PNG" class="mr-3"  alt="mighty burger">
         <div class="media-body">
           <h5 class="mt-0 d-inline-block">Parham Zaidi 
            <div class="d-inline-block ml-5" style="color: rgb(255, 170, 86);"> 
              <i class="fa fa-star mr-2" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
              <i class="fa fa-star mr-1" aria-hidden="true"></i>
            </div>
           </h5>
           <div>

            <p>5/6/2020</p>

           </div>
           <p class="text-muted" style="font-size: smaller;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat labore ipsum reprehenderit architecto impedit molestiae ab fuga, aliquam, id rerum .</p>
           <p class="text-muted text-right" style="font-size: smaller;">5:00pm</p>
         </div>
       </div>
    </div>
   
 </div>
</li>
        
        
      </ul>
    </div>
    <div class="  col-sm-12 col-lg-4">
           
      
  
      <h6 class="mt-5">Most related Items</h6>
      <ul class="list-group my-2">
        
        <li class="list-group-item"><div class="row">
            <div class="col-10">
             <div class="media">
                 <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3"  alt="mighty burger">
                 <div class="media-body">
                   <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                   <small class="text-muted ">
                     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus  
                   </small>
                 </div>
               </div>
            </div>
            <div class="col-2 text-center">
                <div>
                    <p><i>$20</i></p>
                    
                </div>
            </div>
         </div></li>
        <li class="list-group-item"><div class="row">
            <div class="col-10">
             <div class="media">
                 <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                 <div class="media-body">
                   <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                   <small class="text-muted ">
                     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
                   </small>
                 </div>
               </div>
            </div>
            <div class="col-2 text-center">
                <div>
                    <p><i>$20</i></p>
                    
                </div>
            </div>
         </div></li>
        <li class="list-group-item"> <div class="row">
            <div class="col-10">
             <div class="media">
                 <img src="../assets/Imgaes/Restaurant_Detail/Mighty Brger.png" class="mr-3" alt="mighty burger">
                 <div class="media-body">
                   <h5 class="mt-0" style="color: #ED1B24;">Big Mighty Burger</h5>
                   <small class="text-muted ">
                     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus  
                   </small>
                 </div>
               </div>
            </div>
            <div class="col-2 text-center">
                <div>
                    <p><i>$20</i></p>
                    
                   
                </div>
            </div>
         </div></li>
        
      </ul>
</div>
    </div>
    
  
  </div>

      



                

    <footer style="background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
        <div class="container mt-5 text-white">
            <div class="row">
                <div class="offset-lg-1 offset-md-2  col-lg-2 col-md-4 col-12 mt-5">
                    <h1>snaxa</h1>
                    <div>
            
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-facebook" style="font-size: x-large; color: rgb(187, 127, 127);;"></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-twitter-square rounded-pill" style="font-size: x-large;color: rgb(187, 127, 127);" ></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-instagram    " style="font-size: x-large;color: rgb(187, 127, 127);"></i></a>
          <a name="" id="" class="text-decoration-none  text-center" href="#" ><i class="fab fa-pinterest" style="font-size: x-large;color:rgb(187, 127, 127);"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12 my-5">
    
                    <h6>Estd. 2019</h6>
                    <p>It is a long established fact that a reader willbe distracted by the readable content of apage when looking for its layout.</p>
                    <p>T   022 4455 5566</p>
                    <p>@   snaxa@anything.com</p>
                </div>
    <div class="offset-2 col-lg-4 col-md-8 col-12 my-5">
    <i class="fa fa-envelope" aria-hidden="true">
    Stay up to date on the latest fron Snaxa
    </i>
    <div class="form-group">
      <label for="email">EMail</label>
      <input type="email" class="form-control" name="emial" id="" aria-describedby="emailHelpId" placeholder="Enter your e-mail Address">
     
    
      <a href="#" class="btn btn-primary px-5 py-2 mt-5 text-danger bg-white border-0 text-center rounded " role="button" aria-pressed="true">send</a>
    </div>
                    
                </div>
            </div>
        </div>
        <hr width="75%">
        <div class="container">
            
        
                <div class="d-flex justify-content-around">
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Home</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Restaurants</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">MY orders</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Ramadan Deals</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-decoration-none text-white"  aria-pressed="true">Offers</a>
                    </div>
                </div>
          
        </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="Restaurant_Details.js"></script>
  </body>
</html>
