<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   
    <link rel="icon" href="../assets/icon/payment.ico">
    <style>
        .modal-backdrop.show {
   background-color: rgb(255, 255, 255);
   opacity: 0.75;
}
    </style>
    <title>Order Placement</title>
    <script src="../js/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $("#modelId").modal('show');
        });
    </script>
</head>

<body >

   
    
    <!-- Modal -->
    <div >

   
    <div class="modal fade shadow-lg rounded shadow-lg"   id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"data-backdrop="false"  >
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body text-center mt-5 py-5" style="height: 30vh; color: rgb(199, 52, 26);">
                  
                   <p class="mt-5" style="font-size: 40px; font-weight: bolder;">
                       Saved
                   </p>
                </div>
               
            </div>
        </div>
    </div>

</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="../js/bootstrap.min.js"></script>
    </script>
    
 
</body>

</html>